body{min-width: 800px; max-width: 2000px;}
.floatLeft{
  float:left;
}

.clear{clear:both;}

#timer{
  text-align: center;
  margin-bottom: 20px;
}
#timer h3{
  border-bottom: black solid 3px;
  border-radius: 15px;
  width: 20%;
  margin: auto;
}
#playArea{
  width: 64%;
  text-align: center;
  border: solid black 4px;
  border-radius: 20px;
  margin-bottom: 20px;
}
#playArea hr{
  width: 80%;
  height:3px;
  color: black;
  background-color: black;
}
#btnArea{
  text-align: center;
  padding-top:50px;
  width: 35%;
}
.btn{
  text-align: center;
  border: solid black 4px;
  border-radius: 21px;
  padding: 10px;
  font-size: 200%;
  padding: 20px;
}
.card{
  width:100px;
}

#timeScores{
  text-align: center;

}
#timeScores h2{
  border-top: black solid 3px;
  border-radius: 15px;
  width: 20%;
  margin: auto;

}
