body{background-color:black;}
#header{
    color:white;
}
table{
  border: solid black 2px;
  background-color:black;
}
td{
  width: 30px;
  text-align:center;
  border: solid black 1px;
  background-color: white;
  padding:10px;
}
input{
  text-align: center;
}
.gridHighlight{
  background-color: yellow;
}
.centerText{
  text-align: center;
}
#grid table{
  margin: auto;
}
